@charset "UTF-8";

body{
    background-color: #333;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

#meutexto{
    text-align: center;
    font-style: italic;
}
h2{
    transition: .5s;
    cursor: pointer;
}
h2:hover{
    text-decoration: underline;
}
#minha-main{
    background-color: #333;
    width: 600px;
    margin: auto;
}
.texto{
    text-align: center;
}
#minha-main h1{
    font-style: italic;
}

#minha-main p{
    text-align: justify;
}

