body {
    background-color: #333;
    font-family: sans-serif;
    font-size: 17px;
    text-align: center;
}
h1 {
    color: #fff;
    text-align: center;
}
h2 {
    color: #fff;
    text-align: center;
}
p{
    color: #fff;
    text-align: center;
}